### Import Regular Expression

In [4]:
import re

### Sample Chats

In [5]:
chat1 = "niloy: you ask a lot of questions ðŸ‘‰ 1873445245, niloysannyal8@gmail.com, 1687824827"
chat2 = "niloy: heree it is: (178)-344-5245, NiloySannyal69@gmail.com"
chat3 = "niloy: yes, phone: 1783445245 email: niloy_sannyal@gmail.xyz"
chat4 = "niloy: Hello, I am having issue with my order #234505839"
chat5 = "niloy: Issue with order id 3698693"
chat6 = "niloy: order 69869"

### Mobile Number

In [6]:
#pattern to retrieve mobile numbers
pattern1 = '\d{10}'
pattern2 = '\(\d{3}\)\-\d{3}\-\d{4}'
mobile_number = '\d{10}|\(\d{3}\)\-\d{3}\-\d{4}'

In [7]:
matches = re.findall(mobile_number, chat1)
matches

['1873445245', '1687824827']

In [8]:
matches = re.findall(mobile_number, chat2)
matches

['(178)-344-5245']

In [9]:
matches = re.findall(mobile_number, chat3)
matches

['1783445245']

### Email Id

In [10]:
#pattern to retrieve email id
email_id = "[a-zA-Z0-9_]*@[a-z]*\.[a-z]*"

In [11]:
matches = re.findall(email_id, chat1)
matches

['niloysannyal8@gmail.com']

In [12]:
matches = re.findall(email_id, chat2)
matches

['NiloySannyal69@gmail.com']

In [13]:
matches = re.findall(email_id, chat3)
matches

['niloy_sannyal@gmail.xyz']

### Order Id

In [14]:
#Order Id pattern
order_id = 'order \D*(\d*)'

In [15]:
matches = re.findall(order_id, chat4)
matches

['234505839']

In [16]:
matches = re.findall(order_id, chat5)
matches

['3698693']

In [17]:
matches = re.findall(order_id, chat6)
matches

['69869']

### Key Information retrieval

In [18]:
Elon_Musk = '''Musk in 2022
Senior Advisor to the President
In office
January 20, 2025 â€“ May 30, 2025
Serving with Massad Boulos
President	Donald Trump
Preceded by	Tom Perez
Personal details
Born	Elon Reeve Musk
June 28, 1971 (age 54)
Pretoria, South Africa
Citizenship	
South Africa (from birth)
Canada (from birth)
U.S. (since 2002)
Political party	Independent
Spouses	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2016)â€‹
Children	â‰¥14
Parents	
Errol Musk (father)
Maye Musk (mother)
Relatives	Musk family
Education	University of Pennsylvania (BA, BS)
Occupation	
CEO and product architect of Tesla
Founder, CEO, and chief engineer of SpaceX
Founder and CEO of xAI
Founder of the Boring Company and X Corp.
Co-founder of Neuralink, OpenAI, Zip2, and X.com (part of PayPal)
President of the Musk Foundation'''

In [19]:
Shah_Rukh_Khan = '''Khan in 2018
Born	Shahrukh Khan
2 November 1965 (age 59)
New Delhi, India
Alma mater	Hansraj College (BA)
Occupations	
Actorfilm producertelevision personalitybusinessman
Years active	1988â€“present
Organisation(s)	Red Chillies Entertainment
Knight Riders Group
Works	Full list
Title	Founder of Red Chillies Entertainment
Spouse	Gauri Khan â€‹(m. 1991)â€‹
Children	3, including Aryan and Suhana
Awards	Full list
Honours	Padma Shri (2005)
Order of Arts and Letters (2007)
Legion of Honour (2014)'''

In [20]:
Mark_Zuckerberg = '''Born	Mark Elliot Zuckerberg
May 14, 1984 (age 41)
White Plains, New York, U.S.
Other names	Zuck
Education	Harvard University (dropped out)
Occupations	
Businessmancomputer programmer
Years active	2004â€“present
Title	
Co-founder, chairman and CEO of Meta Platforms and Facebook
Co-founder and co-CEO of Chan Zuckerberg Initiative
Spouse	Priscilla Chan â€‹(m. 2012)â€‹
Children	3
Relatives	
Randi Zuckerberg (sister)
Donna Zuckerberg (sister)'''

#### Name

In [21]:
name_pattern = 'Born(.*)'
match = re.findall(name_pattern, Elon_Musk)
match[0].strip()

'Elon Reeve Musk'

#### Age

In [22]:
age_pattern = 'age (\d+)'
match = re.findall(age_pattern, Elon_Musk)
match[0].strip()

'54'

#### Birth Date

In [23]:
birth_date = 'Born.*\n(.*)\(age'
match = re.findall(birth_date, Elon_Musk)
match[0].strip()

'June 28, 1971'

#### Birth Place

In [24]:
birth_place = 'Born.*\n.*\n(.*)'
match = re.findall(birth_place, Elon_Musk)
match[0].strip()

'Pretoria, South Africa'

### Inplementing a Function

In [25]:
def get_pattern_match(pattern, text):
    match = re.findall(pattern, text)
    if match:
        return match[0].strip()

In [26]:
get_pattern_match('Born(.*)', Elon_Musk)

'Elon Reeve Musk'

In [27]:
def get_personal_information(text):
    name = get_pattern_match('Born(.*)', text)
    age = get_pattern_match('age (\d+)', text)
    birth_date = get_pattern_match('Born.*\n(.*)\(age', text)
    birth_place = get_pattern_match('Born.*\n.*\n(.*)', text)
    personal_information = {
        'Name': name,
        'Age': age,
        'Birth Date': birth_date,
        'Birth Place': birth_place
    }
    return personal_information

In [28]:
get_personal_information(Elon_Musk)

{'Name': 'Elon Reeve Musk',
 'Age': '54',
 'Birth Date': 'June 28, 1971',
 'Birth Place': 'Pretoria, South Africa'}

In [29]:
get_personal_information(Shah_Rukh_Khan)

{'Name': 'Shahrukh Khan',
 'Age': '59',
 'Birth Date': '2 November 1965',
 'Birth Place': 'New Delhi, India'}

In [30]:
get_personal_information(Mark_Zuckerberg)

{'Name': 'Mark Elliot Zuckerberg',
 'Age': '41',
 'Birth Date': 'May 14, 1984',
 'Birth Place': 'White Plains, New York, U.S.'}

## Exercise

<h4 style="color:red">Question 1:</h4>
Extract all twitter handles from following text. Twitter handle is the text that appears after "https://twitter.com/" and is a single word. Also it contains only alpha numeric characters i.e. A-Z a-z , o to 9 and underscore _

In [31]:
text1 = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''

In [32]:
pattern = 'https:\/\/twitter.com\/([a-zA-Z0-9_]*)'

In [33]:
matches = re.findall(pattern, text1)
matches

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

<h4 style="color:red">Question 2:</h4> Extract Concentration Risk Types. It will be a text that appears after "Concentration Risk:", In below example, your regex should extract these two strings
1. Credit Risk
2. Supply Rish

In [36]:
text2 = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''

In [72]:
pattern1 = "credit risk consist of (.*\n.*)\."
matches = re.findall(pattern1, text2)
#processing matches
items = matches[0].split(",") #spliting items by ','
items = [x.strip() for x in items] #removing unnecessary spaces
items = [re.sub("^and\s+","",x) for x in items] #removing 'and' before items
items

['cash',
 'cash equivalents',
 'marketable securities',
 'restricted cash',
 'accounts receivable',
 'convertible note hedges',
 'interest rate swaps']

In [73]:
pattern2 = "Concentration of Risk: ([^\n]*)"
matches = re.findall(pattern2, text2)
matches

['Credit Risk', 'Supply Risk']

<h4 style="color:red">Question 3:</h4> Companies in europe reports their financial numbers of semi annual basis and you can have a document like this. To exatract quarterly and semin annual period you can use a regex as shown below

Hint: you need to use (?:) here to match everything enclosed

In [74]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

In [75]:
pattern = "FY(\d{4} (?:Q\d[1]*|S\d[1]*))"
matches = re.findall(pattern, text)
matches

['2021 Q1', '2021 S1']