In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("../Data/Telco-Customer-Churn.csv")
df.sample(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1233,1299-AURJA,Female,0,Yes,Yes,70,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),24.70,1685.9,No
986,2604-XVDAM,Female,0,No,No,12,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,No,Bank transfer (automatic),43.80,540.95,No
2423,1133-KXCGE,Female,0,No,No,18,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,20.10,407.05,No
5310,6171-ZTVYB,Male,0,Yes,No,43,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Month-to-month,No,Bank transfer (automatic),66.25,2907.35,No
2298,6670-MFRPK,Male,0,Yes,Yes,69,Yes,Yes,Fiber optic,No,...,Yes,No,No,No,Two year,Yes,Credit card (automatic),79.20,5420.65,No

In [3]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [4]:
df.drop('customerID', axis=1, inplace=True)
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [5]:
df.TotalCharges.values

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

In [6]:
df.MonthlyCharges.values

array([ 29.85,  56.95,  53.85, ...,  29.6 ,  74.4 , 105.65])

In [7]:
pd.to_numeric(df.TotalCharges, errors='coerce').isnull()

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039    False
7040    False
7041    False
7042    False
Name: TotalCharges, Length: 7043, dtype: bool

In [8]:
df[pd.to_numeric(df.TotalCharges, errors='coerce').isnull()]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [9]:
df[pd.to_numeric(df.TotalCharges, errors='coerce').isnull()].shape

(11, 20)

In [10]:
df.shape

(7043, 20)

In [11]:
df.iloc[488].TotalCharges

' '

In [12]:
df1 = df[df.TotalCharges!=' ']
df1.shape

(7032, 20)

In [13]:
df1.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [14]:
df2 = df1.copy()

In [15]:
df2.TotalCharges = pd.to_numeric(df2.TotalCharges)

In [16]:
df2.TotalCharges.dtype

dtype('float64')

In [17]:
def print_unique_col_values(df):
    for column in df:
        if df[column].dtype=='object':
            print(f"{column}  :  {df[column].unique()}")

In [18]:
print_unique_col_values(df2)

gender  :  ['Female' 'Male']
Partner  :  ['Yes' 'No']
Dependents  :  ['No' 'Yes']
PhoneService  :  ['No' 'Yes']
MultipleLines  :  ['No phone service' 'No' 'Yes']
InternetService  :  ['DSL' 'Fiber optic' 'No']
OnlineSecurity  :  ['No' 'Yes' 'No internet service']
OnlineBackup  :  ['Yes' 'No' 'No internet service']
DeviceProtection  :  ['No' 'Yes' 'No internet service']
TechSupport  :  ['No' 'Yes' 'No internet service']
StreamingTV  :  ['No' 'Yes' 'No internet service']
StreamingMovies  :  ['No' 'Yes' 'No internet service']
Contract  :  ['Month-to-month' 'One year' 'Two year']
PaperlessBilling  :  ['Yes' 'No']
PaymentMethod  :  ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn  :  ['No' 'Yes']

In [19]:
df3 = df2.copy()

In [20]:
df3 = df3.replace('No internet service', 'No')
df3 = df3.replace('No phone service', 'No')

In [21]:
print_unique_col_values(df3)

gender  :  ['Female' 'Male']
Partner  :  ['Yes' 'No']
Dependents  :  ['No' 'Yes']
PhoneService  :  ['No' 'Yes']
MultipleLines  :  ['No' 'Yes']
InternetService  :  ['DSL' 'Fiber optic' 'No']
OnlineSecurity  :  ['No' 'Yes']
OnlineBackup  :  ['Yes' 'No']
DeviceProtection  :  ['No' 'Yes']
TechSupport  :  ['No' 'Yes']
StreamingTV  :  ['No' 'Yes']
StreamingMovies  :  ['No' 'Yes']
Contract  :  ['Month-to-month' 'One year' 'Two year']
PaperlessBilling  :  ['Yes' 'No']
PaymentMethod  :  ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn  :  ['No' 'Yes']

In [22]:
df3 = df3.replace({'Yes': 1, 'No': 0})

C:\Users\niloy\AppData\Local\Temp\ipykernel_21496\3863468768.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3 = df3.replace({'Yes': 1, 'No': 0})

In [23]:
print_unique_col_values(df3)

gender  :  ['Female' 'Male']
InternetService  :  ['DSL' 'Fiber optic' 0]
Contract  :  ['Month-to-month' 'One year' 'Two year']
PaymentMethod  :  ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [24]:
df3.sample(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
6922,Male,0,0,0,3,1,0,Fiber optic,0,1,0,0,0,0,Month-to-month,0,Credit card (automatic),74.45,221.10,0
6139,Male,0,0,1,3,1,0,0,0,0,0,0,0,0,Month-to-month,0,Bank transfer (automatic),20.20,50.60,0
1864,Female,1,1,0,26,1,0,DSL,0,0,1,0,0,1,One year,0,Mailed check,60.70,1597.40,0
6326,Female,0,0,0,62,0,0,DSL,0,1,1,0,0,1,Two year,1,Credit card (automatic),43.60,2748.70,0
2273,Male,0,1,0,30,1,0,0,0,0,0,0,0,0,One year,0,Credit card (automatic),19.80,576.65,0

In [25]:
for col in df3:
    print(f"{col} : {df3[col].unique()}")

gender : ['Female' 'Male']
SeniorCitizen : [0 1]
Partner : [1 0]
Dependents : [0 1]
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService : [0 1]
MultipleLines : [0 1]
InternetService : ['DSL' 'Fiber optic' 0]
OnlineSecurity : [0 1]
OnlineBackup : [1 0]
DeviceProtection : [0 1]
TechSupport : [0 1]
StreamingTV : [0 1]
StreamingMovies : [0 1]
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : [1 0]
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges : [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn : [0 1]

In [26]:
df4 = df3.copy()

In [27]:
df4['gender'] = df4['gender'].map({'Female':0, 'Male':1})

In [28]:
df4['gender'].unique()

array([0, 1])

## One Hot Encoding

In [29]:
df5 = pd.get_dummies(data=df4, columns=['InternetService', 'Contract', 'PaymentMethod'])
df5.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'InternetService_0', 'InternetService_DSL',
       'InternetService_Fiber optic', 'Contract_Month-to-month',
       'Contract_One year', 'Contract_Two year',
       'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [30]:
df5.sample(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_0,InternetService_DSL,InternetService_Fiber optic,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
2966,0,1,0,0,14,0,0,0,0,0,...,False,True,False,True,False,False,False,False,True,False
626,1,0,1,0,23,1,1,0,1,1,...,False,False,True,True,False,False,False,False,True,False
2910,0,0,1,1,35,1,1,0,0,0,...,True,False,False,False,False,True,False,True,False,False
4608,1,0,0,0,55,1,1,0,0,1,...,False,True,False,False,False,True,True,False,False,False
5204,1,1,1,0,38,0,0,0,0,0,...,False,True,False,True,False,False,False,False,True,False

In [31]:
df5.dtypes

gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                       int64
PhoneService                                 int64
MultipleLines                                int64
OnlineSecurity                               int64
OnlineBackup                                 int64
DeviceProtection                             int64
TechSupport                                  int64
StreamingTV                                  int64
StreamingMovies                              int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
InternetService_0                             bool
InternetService_DSL                           bool
InternetService_Fiber optic                   bool
Contract_Month-to-month                       bool
Contract_One year                             bool
Contract_Two year                             bool
PaymentMethod_Bank transfer (automatic)       bool
PaymentMethod_Credit card (automatic)         bool
PaymentMethod_Electronic check                bool
PaymentMethod_Mailed check                    bool
dtype: object

## Scaling

In [32]:
columns_to_scale = ['tenure', 'MonthlyCharges', 'TotalCharges']

In [33]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df5[columns_to_scale] = scaler.fit_transform(df5[columns_to_scale])

In [34]:
df5.sample(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_0,InternetService_DSL,InternetService_Fiber optic,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
1789,1,0,1,0,0.746479,0,0,0,1,0,...,False,True,False,True,False,False,False,False,True,False
792,0,0,1,1,0.098592,1,0,0,0,0,...,True,False,False,False,False,True,False,False,False,True
916,0,1,0,0,0.309859,1,0,1,0,0,...,False,False,True,True,False,False,True,False,False,False
5203,1,0,0,1,0.028169,1,0,0,0,0,...,False,True,False,True,False,False,False,False,False,True
6363,0,0,0,0,0.112676,1,0,1,0,0,...,False,False,True,True,False,False,False,False,True,False

## Train Test Split

In [35]:
X = df5.drop('Churn', axis='columns')
y = df5['Churn']

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=69)

In [37]:
y_train.value_counts()

Churn
0    4133
1    1492
Name: count, dtype: int64

In [38]:
y.value_counts()

Churn
0    5163
1    1869
Name: count, dtype: int64

In [39]:
5163/1869

2.7624398073836276

In [40]:
y_test.value_counts()

Churn
0    1030
1     377
Name: count, dtype: int64

In [41]:
1030/377

2.7320954907161803

## Build a model(ANN) in tensorflow/keras

In [42]:
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import confusion_matrix, classification_report

In [43]:
def ANN(X_train, y_train, X_test, y_test, loss, weights, Print=True):
    model = keras.Sequential([
        keras.Input(shape=(26,)),
        keras.layers.Dense(15, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(optimizer='adam', loss=loss, metrics=['accuracy'])

    if weights == -1:
        model.fit(X_train, y_train, epochs=100, verbose=1 if Print else 0)
    else:
        model.fit(X_train, y_train, epochs=100, class_weights = weights)
        
    print("="*100)
    print("🔍 Model Evaluation:\n")
    print(model.evaluate(X_test, y_test))

    y_preds = model.predict(X_test)
    y_preds = np.round(y_preds)
    
    print("="*100)
    print("📊 Classification Report: \n\n", classification_report(y_test, y_preds))
    print("="*100)
    
    return y_preds

In [44]:
y_preds = ANN(X_train, y_train, X_test, y_test, 'binary_crossentropy', -1, Print=False)

====================================================================================================
🔍 Model Evaluation:

44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8097 - loss: 0.4157
[0.4279164969921112, 0.799573540687561]
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
====================================================================================================
📊 Classification Report:

               precision    recall  f1-score   support

           0       0.85      0.88      0.87      1030
           1       0.64      0.57      0.60       377

    accuracy                           0.80      1407
   macro avg       0.75      0.73      0.73      1407
weighted avg       0.79      0.80      0.80      1407

====================================================================================================

## Build a Logistic Regression model function

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
import numpy as np

In [46]:
def logistic_regression(X_train, y_train, X_test, y_test):
    model = LogisticRegression()
    model.fit(X_train, y_train)

    print("="*100)
    print("🔍 Score = ",model.score(X_test, y_test))

    y_preds = model.predict(X_test)
    y_preds = np.round(y_preds)

    print("="*100)
    print("📊 Classification Report: \n", classification_report(y_test, y_preds))
    print("="*100)
    
    return y_preds

In [47]:
y_preds = logistic_regression(X_train, y_train, X_test, y_test)

====================================================================================================
🔍 Score =  0.7903340440653873
====================================================================================================
📊 Classification Report:
               precision    recall  f1-score   support

           0       0.84      0.88      0.86      1030
           1       0.63      0.53      0.58       377

    accuracy                           0.79      1407
   macro avg       0.73      0.71      0.72      1407
weighted avg       0.78      0.79      0.78      1407

====================================================================================================

# Mitigating Skewdness of Data</span>

## *<span style=color:red>Method 1: Undersampling*

In [48]:
# class count
count_class_0, count_class_1 = df5.Churn.value_counts()

#Divide by class
df_class_0 = df5[df5['Churn']==0]
df_class_1 = df5[df5['Churn']==1]

In [49]:
count_class_0, count_class_1

(5163, 1869)

In [50]:
df_class_0.shape

(5163, 27)

In [51]:
df_class_1.shape

(1869, 27)

In [52]:
df_class_0.sample(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_0,InternetService_DSL,InternetService_Fiber optic,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
490,1,0,1,1,0.873239,1,1,0,1,1,...,False,False,True,False,False,True,True,False,False,False
2566,0,0,1,1,0.901408,1,1,1,1,1,...,False,True,False,False,False,True,True,False,False,False
1733,1,0,0,0,0.000000,1,0,0,0,0,...,True,False,False,True,False,False,False,False,False,True
3658,0,0,0,0,0.126761,1,0,0,0,1,...,False,True,False,True,False,False,False,False,True,False
5303,1,0,0,1,0.591549,0,0,1,1,1,...,False,True,False,True,False,False,False,False,True,False

In [53]:
df_class_0_under = df_class_0.sample(count_class_1)

In [54]:
df_test_under = pd.concat([df_class_0_under, df_class_1], axis=0)
df_test_under.shape

(3738, 27)

In [55]:
print("Random under_sampling:")
print(df_test_under.Churn.value_counts())

Random under_sampling:
Churn
0    1869
1    1869
Name: count, dtype: int64

In [56]:
X = df_test_under.drop('Churn', axis=1)
y = df_test_under.Churn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [57]:
y_train.value_counts()

Churn
0    1495
1    1495
Name: count, dtype: int64

### Using ANN

In [58]:
y_preds = ANN(X_train, y_train, X_test, y_test, 'binary_crossentropy', -1, Print=False)

====================================================================================================
🔍 Model Evaluation:

24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7364 - loss: 0.5227
[0.5241673588752747, 0.7366310358047485]
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
====================================================================================================
📊 Classification Report:

               precision    recall  f1-score   support

           0       0.75      0.72      0.73       374
           1       0.73      0.75      0.74       374

    accuracy                           0.74       748
   macro avg       0.74      0.74      0.74       748
weighted avg       0.74      0.74      0.74       748

====================================================================================================

### Using Logistic Regression

In [59]:
y_preds = logistic_regression(X_train, y_train, X_test, y_test)

====================================================================================================
🔍 Score =  0.7486631016042781
====================================================================================================
📊 Classification Report:
               precision    recall  f1-score   support

           0       0.76      0.73      0.74       374
           1       0.74      0.77      0.75       374

    accuracy                           0.75       748
   macro avg       0.75      0.75      0.75       748
weighted avg       0.75      0.75      0.75       748

====================================================================================================

## *<span style=color:red>Method 2: Oversampling</span>*

In [60]:
count_class_0, count_class_1

(5163, 1869)

In [61]:
df_class_1.sample(2000, replace=True).shape

(2000, 27)

In [62]:
df_class_1_over = df_class_1.sample(count_class_0, replace=True)

In [63]:
df_class_1_over.shape

(5163, 27)

In [64]:
df_test_over = pd.concat([df_class_0, df_class_1_over], axis=0)

In [65]:
df_test_over.shape

(10326, 27)

In [66]:
print("Random over_sampling:")
print(df_test_over.Churn.value_counts())

Random over_sampling:
Churn
0    5163
1    5163
Name: count, dtype: int64

In [67]:
X = df_test_over.drop('Churn', axis=1)
y = df_test_over.Churn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [68]:
y_train.value_counts()

Churn
1    4130
0    4130
Name: count, dtype: int64

### Using ANN

In [69]:
y_preds = ANN(X_train, y_train, X_test, y_test, 'binary_crossentropy', -1, Print=False)

====================================================================================================
🔍 Model Evaluation:

65/65 ━━━━━━━━━━━━━━━━━━━━ 0s 871us/step - accuracy: 0.7728 - loss: 0.4723
[0.4853377342224121, 0.7633107304573059]
65/65 ━━━━━━━━━━━━━━━━━━━━ 0s 820us/step
====================================================================================================
📊 Classification Report:

               precision    recall  f1-score   support

           0       0.80      0.70      0.75      1033
           1       0.74      0.82      0.78      1033

    accuracy                           0.76      2066
   macro avg       0.77      0.76      0.76      2066
weighted avg       0.77      0.76      0.76      2066

====================================================================================================

### Using Logistic Regression

In [70]:
y_preds = logistic_regression(X_train, y_train, X_test, y_test)

====================================================================================================
🔍 Score =  0.7686350435624395
====================================================================================================
📊 Classification Report:
               precision    recall  f1-score   support

           0       0.79      0.74      0.76      1033
           1       0.75      0.80      0.78      1033

    accuracy                           0.77      2066
   macro avg       0.77      0.77      0.77      2066
weighted avg       0.77      0.77      0.77      2066

====================================================================================================

## *<span style=color:red>Method 3: SMOTE*

In [71]:
X = df5.drop('Churn', axis=1)
y = df5.Churn

In [72]:
y.value_counts()

Churn
0    5163
1    1869
Name: count, dtype: int64

In [73]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(sampling_strategy='minority')
X_sm, y_sm = smote.fit_resample(X, y)
y_sm.value_counts()

Churn
0    5163
1    5163
Name: count, dtype: int64

In [74]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.2, random_state=15, stratify=y_sm)

In [75]:
y_train.value_counts()

Churn
1    4130
0    4130
Name: count, dtype: int64

In [76]:
y_test.value_counts()

Churn
1    1033
0    1033
Name: count, dtype: int64

### Using ANN

In [77]:
y_preds = ANN(X_train, y_train, X_test, y_test, 'binary_crossentropy', -1, Print=False)

====================================================================================================
🔍 Model Evaluation:

65/65 ━━━━━━━━━━━━━━━━━━━━ 0s 891us/step - accuracy: 0.7961 - loss: 0.4388
[0.4337853193283081, 0.7996127605438232]
65/65 ━━━━━━━━━━━━━━━━━━━━ 0s 815us/step
====================================================================================================
📊 Classification Report:

               precision    recall  f1-score   support

           0       0.82      0.77      0.79      1033
           1       0.78      0.83      0.80      1033

    accuracy                           0.80      2066
   macro avg       0.80      0.80      0.80      2066
weighted avg       0.80      0.80      0.80      2066

====================================================================================================

### Using Logistic Regression

In [79]:
y_preds = logistic_regression(X_train, y_train, X_test, y_test)

====================================================================================================
🔍 Score =  0.7942884801548886
====================================================================================================
📊 Classification Report:
               precision    recall  f1-score   support

           0       0.81      0.77      0.79      1033
           1       0.78      0.82      0.80      1033

    accuracy                           0.79      2066
   macro avg       0.80      0.79      0.79      2066
weighted avg       0.80      0.79      0.79      2066

====================================================================================================

## *<span style=color:red>Method 4: Use of Ensemble with undersampling*

In [80]:
df5.Churn.value_counts()

Churn
0    5163
1    1869
Name: count, dtype: int64

In [81]:
X = df5.drop('Churn', axis=1)
y = df5.Churn

In [82]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [83]:
y_train.value_counts()

Churn
0    4130
1    1495
Name: count, dtype: int64

In [84]:
4130/1495

2.762541806020067

In [85]:
4130/3

1376.6666666666667

In [86]:
df6 = X_train.copy()
df6['Churn'] = y_train

In [87]:
df_class0 = df6[df6.Churn==0]
df_class1 = df6[df6.Churn==1]

In [88]:
df_class0.shape, df_class1.shape

((4130, 27), (1495, 27))

In [89]:
df_class0[:1495].shape

(1495, 27)

## The Ensemble Function

In [90]:
def ensemble_function(df_majority, df_minority, X_test, y_test, n_splits, model):
    majority_shape = df_majority.shape[0]
    minority_shape = df_minority.shape[0]
    start = 0
    end = minority_shape
    y_preds = []
    for i in range(n_splits):
        df_train = pd.concat([df_majority[start:end], df_minority], axis=0)
        X_train = df_train.drop('Churn', axis='columns')
        y_train = df_train.Churn
        print("\n")
        print("#"*100)
        print("Split = ", i+1)
        if model == 1:
            y_pred = ANN(X_train, y_train, X_test, y_test, 'binary_crossentropy', -1, Print=False)
        else:
            y_pred = logistic_regression(X_train, y_train, X_test, y_test)
        y_preds.append(np.array(y_pred))
        start = end + 1
        end = end + minority_shape
        
    y_preds = np.array(y_preds)
    summed_preds = np.sum(y_preds, axis=0)
    result = np.where(summed_preds > n_splits // 2, 1, 0)
         
    print("🔍 After Ensemble")
    print("\n📊 Classification Report:\n")
    print(classification_report(y_test, result))
    print("="*100)

    return result

## Ensemble using ANN
### Here, model = 1

In [91]:
y_preds = ensemble_function(df_class0, df_class1, X_test, y_test, n_splits=3, model=1)

####################################################################################################
Split =  1
====================================================================================================
🔍 Model Evaluation:

44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 980us/step - accuracy: 0.7597 - loss: 0.4963
[0.5193031430244446, 0.743425726890564]
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 994us/step
====================================================================================================
📊 Classification Report:

               precision    recall  f1-score   support

           0       0.90      0.73      0.81      1033
           1       0.51      0.79      0.62       374

    accuracy                           0.74      1407
   macro avg       0.71      0.76      0.71      1407
weighted avg       0.80      0.74      0.76      1407

====================================================================================================


####################################################################################################
Split =  2
====================================================================================================
🔍 Model Evaluation:

44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 975us/step - accuracy: 0.7596 - loss: 0.4855
[0.5065695643424988, 0.7341862320899963]
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 986us/step
====================================================================================================
📊 Classification Report:

               precision    recall  f1-score   support

           0       0.89      0.73      0.80      1033
           1       0.50      0.75      0.60       374

    accuracy                           0.73      1407
   macro avg       0.69      0.74      0.70      1407
weighted avg       0.79      0.73      0.75      1407

====================================================================================================


####################################################################################################
Split =  3
====================================================================================================
🔍 Model Evaluation:

44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7161 - loss: 0.5209
[0.5471268892288208, 0.6993603706359863]
44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 985us/step
====================================================================================================
📊 Classification Report:

               precision    recall  f1-score   support

           0       0.91      0.66      0.76      1033
           1       0.46      0.82      0.59       374

    accuracy                           0.70      1407
   macro avg       0.69      0.74      0.68      1407
weighted avg       0.79      0.70      0.72      1407

====================================================================================================
🔍 After Ensemble

📊 Classification Report:

              precision    recall  f1-score   support

           0       0.90      0.71      0.80      1033
           1       0.50      0.79      0.61       374

    accuracy                           0.73      1407
   macro avg       0.70      0.75      0.70      1407
weighted avg       0.80      0.73      0.75      1407

====================================================================================================

## Ensemble using Logistic Regression
### Here, model = 2

In [92]:
y_preds = ensemble_function(df_class0, df_class1, X_test, y_test, n_splits=3, model=2)

####################################################################################################
Split =  1
====================================================================================================
🔍 Score =  0.7476901208244492
====================================================================================================
📊 Classification Report:
               precision    recall  f1-score   support

           0       0.90      0.73      0.81      1033
           1       0.52      0.79      0.62       374

    accuracy                           0.75      1407
   macro avg       0.71      0.76      0.72      1407
weighted avg       0.80      0.75      0.76      1407

====================================================================================================


####################################################################################################
Split =  2
====================================================================================================
🔍 Score =  0.7377398720682303
====================================================================================================
📊 Classification Report:
               precision    recall  f1-score   support

           0       0.91      0.72      0.80      1033
           1       0.50      0.80      0.62       374

    accuracy                           0.74      1407
   macro avg       0.71      0.76      0.71      1407
weighted avg       0.80      0.74      0.75      1407

====================================================================================================


####################################################################################################
Split =  3
====================================================================================================
🔍 Score =  0.6965174129353234
====================================================================================================
📊 Classification Report:
               precision    recall  f1-score   support

           0       0.92      0.65      0.76      1033
           1       0.46      0.84      0.59       374

    accuracy                           0.70      1407
   macro avg       0.69      0.74      0.68      1407
weighted avg       0.80      0.70      0.71      1407

====================================================================================================
🔍 After Ensemble

📊 Classification Report:

              precision    recall  f1-score   support

           0       0.91      0.71      0.80      1033
           1       0.50      0.80      0.62       374

    accuracy                           0.73      1407
   macro avg       0.70      0.76      0.71      1407
weighted avg       0.80      0.73      0.75      1407

====================================================================================================