<h1 style="text-align:center;color:mediumvioletred">Name Entity Recognition</h1>

In [1]:
import spacy

nlp = spacy.load("en_core_web_md")

In [2]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [3]:
doc = nlp("Elon Musk the CEO of Tesla bought Twitter for $45 billion")

for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Elon Musk  |  PERSON  |  People, including fictional
Tesla  |  ORG  |  Companies, agencies, institutions, etc.
Twitter  |  PRODUCT  |  Objects, vehicles, foods, etc. (not services)
$45 billion  |  MONEY  |  Monetary values, including unit

In [4]:
from spacy import displacy

displacy.render(doc, style="ent")

In [5]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [6]:
doc = nlp("Michael Bloomberg founded Bloomberg in 1982")

for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Michael Bloomberg  |  PERSON  |  People, including fictional
Bloomberg  |  ORG  |  Companies, agencies, institutions, etc.
1982  |  DATE  |  Absolute or relative dates or periods

In [7]:
doc = nlp("Elon Musk the CEO of Tesla bought Twitter for $45 billion")

for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Elon Musk  |  PERSON
Tesla  |  ORG
Twitter  |  PRODUCT
$45 billion  |  MONEY

In [8]:
doc[7]

Twitter

In [9]:
type(doc[2:5])

spacy.tokens.span.Span

In [10]:
from spacy.tokens import Span

s1 = Span(doc, 7, 8, label="ORG")

doc.set_ents([s1], default="unmodified")

In [11]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Elon Musk  |  PERSON
Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY

# Exercise

### Question 1:
- Extract all the Geographical (cities, Countries, states) names from a given text

In [12]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

**Expected Output**:

Geographical location Names:  [India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Assam, Bihar]

Count:  7

In [13]:
import spacy
nlp = spacy.load("en_core_web_md")

In [17]:
doc = nlp(text)

geographical = []
for ent in doc.ents:
    #print(ent.text," | ", ent.label_)
    if ent.label_ == "GPE":
        geographical.append(ent.text)

In [19]:
print("Geographical location Names: ", geographical,"\nCount: ", len(geographical))

Geographical location Names:  ['India', 'Delhi', 'Gujarat', 'Tamilnadu', 'Andhrapradesh', 'Assam', 'Bihar']
Count:  7

### Question 2:
- Extract all the birth dates of cricketers in the given Text

In [20]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

**Expected Output:**

All Birth Dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

Count:  4

In [23]:
doc = nlp(text)

birth_dates = []
for ent in doc.ents:
    #print(ent.text," | ", ent.label_)
    if ent.label_ == "DATE":
        birth_dates.append(ent.text)

In [24]:
print("All Birth Dates: ", birth_dates,"\nCount: ", len(birth_dates))

All Birth Dates:  ['24 April 1973', '5 November 1988', '7 July 1981', '19 December 1974']
Count:  4