# This is Pyhton Tutorial

## This is our first program in python

In [1]:
print("Hello World")

Hello World

$a = b + c$

# Variables

In [2]:
x = 3

In [3]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

In [4]:
print(type(x))

<class 'int'>

In [5]:
x = 6.9

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    6.9

In [7]:
print(type(x))

<class 'float'>

In [8]:
abcd = 556.32

In [9]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    556.32
x          float    6.9

In [10]:
a,b,c,d=3,6,9,"NILOY"

In [11]:
a,b,c,d='a',6,9.6,"NILOY"

In [12]:
%whos

Variable   Type     Data/Info
-----------------------------
a          str      a
abcd       float    556.32
b          int      6
c          float    9.6
d          str      NILOY
x          float    6.9

In [13]:
del abcd

In [14]:
%whos

Variable   Type     Data/Info
-----------------------------
a          str      a
b          int      6
c          float    9.6
d          str      NILOY
x          float    6.9

In [15]:
print(abcd)

NameError: name 'abcd' is not defined

In [16]:
c = 2+4j

In [17]:
print(type(c))

<class 'complex'>

In [18]:
s="hello how are you"

In [19]:
print(type(s))

<class 'str'>

# Operators

In [20]:
%whos

Variable   Type       Data/Info
-------------------------------
a          str        a
b          int        6
c          complex    (2+4j)
d          str        NILOY
s          str        hello how are you
x          float      6.9

In [21]:
sumOfaAndb = a+b

TypeError: can only concatenate str (not "int") to str

In [22]:
sum=d+s

In [23]:
print(sum)

NILOYhello how are you

In [24]:
print(type(sum))

<class 'str'>

In [25]:
sum2=b+x

In [26]:
print(type(sum2))

<class 'float'>

In [27]:
print(sum2)

12.9

In [28]:
type(sum)

str

In [29]:
y=((b+x)**3)/4

In [30]:
print(y)

536.6722500000001

In [31]:
s1="Niloy"
s2="Sannyal"
s3=s1+s2
print(s3)

NiloySannyal

In [32]:
10//3

3

In [33]:
10/3

3.3333333333333335

In [34]:
 _

3.3333333333333335

In [35]:
  3p=7

SyntaxError: invalid decimal literal (1940941282.py, line 1)

In [36]:
%d=9

UsageError: Line magic function `%d=9` not found.

In [37]:
!f=69

'f' is not recognized as an internal or external command,
operable program or batch file.

In [38]:
_e=69
print(_e)

69

# Bool

In [39]:
a=True
b=True
c=False
d=False

In [40]:
print(a and b)
print(a and c)
print(c and d)
print(a or b)
print(a or c)
print(c or d)

True
False
False
True
True
False

In [41]:
not(a)

False

In [42]:
not(b)

False

In [43]:
not(c)

True

In [44]:
not(d)

True

In [46]:
type(a)

bool

In [47]:
not((a and b) or (c and d))

False

# Comparisons

In [52]:
x=6
y=9
z=69

In [53]:
print(x>y)

False

In [54]:
x>y

False

In [55]:
x<y

True

In [56]:
y>x

True

In [57]:
z>(x+y)

True

In [58]:
x=3
y=3
z=1

In [59]:
x==y

True

In [60]:
x>=y

True

In [61]:
x>=z

True

In [62]:
x<=z

False

In [63]:
z<=y

True

In [64]:
(x<y) and (z<y) or (x==y)

True

In [65]:
False or False and True

False

In [66]:
False or True and True

True

In [67]:
True or False and False

True

In [68]:
(True or False) and False

False

In [1]:
p=6.69696
q=3.8564
print(round(p,3))

6.697

In [2]:
print(round(q,2))

3.86

In [4]:
print(round(3.555,2))

3.56

In [5]:
divmod(69,7)

(9, 6)

In [6]:
T=divmod(96,10)

In [7]:
type(T)

tuple

In [8]:
print(T)

(9, 6)

In [9]:
T[0]

9

In [10]:
T[1]

6

In [12]:
96/10

9.6

In [13]:
96//10

9

In [14]:
96%10

6

# Some Useful Function

## isinstance()

In [15]:
isinstance(3,int)

True

In [16]:
isinstance(6.9,int)

False

In [17]:
isinstance(6.9,float)

True

In [18]:
isinstance(9.6,(float,int))

True

In [20]:
isinstance(9.6,(int,str))

False

In [21]:
isinstance(2+3j,(int,float))

False

In [22]:
isinstance(2+3j,(int,float,str))

False

In [23]:
isinstance(2+3j,(int,float,str,complex))

True

## pow(x,y,z)

In [24]:
pow(2,5)

32

In [26]:
2**5

32

In [25]:
pow(2,5,5)

2

## input()

In [27]:
x = input("Enter a number :")

Enter a number :69

In [28]:
print(x)

69

In [29]:
type(x)

str

In [30]:
x = int(x)

In [31]:
type(x)

int

In [33]:
print(x-36)

33

In [35]:
a = float(input("Enter a real number :"))

Enter a real number :9.6

In [ ]:
type(a)

In [37]:
b = float(input("Enter a real number :"))

Enter a real number :abc

ValueError: could not convert string to float: 'abc'

In [40]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

## Control Flow

In [43]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print("I am still inside the if condition")
print("Outside if condition")

6
3
6
I am still inside the if condition
Outside if condition

In [44]:
a = int(input())
b = int(input())
if a>b:
    print(a)
if b>a:
    print(b)

22
4
22

In [46]:
a = int(input())
b = int(input())
if a>b:
    print("a is greater than b")
else:
    print("a is not greater than b")

6
9
a is not greater than b

In [49]:
a = int(input())
b = int(input())
if a>b:
    print("a is greater than b")
elif a==b:
    print("a is equal to b")
else:
    print("a is less than b")

9
6
a is greater than b

In [ ]:
a = 60
b = 60
print("A") if a>b else print("=") if a==b else print("B")

In [2]:
a = int(input("Enter the number : "))
if(a>10):
    print("Your number is greater than 10 ")
    if(a%2==0):
        print("and Even")
    else:
        print("and Odd")
else:
    print("Your number is less than 10")
    if(a%2==0):
        print("and Even")
    else:
        print("and Odd")

Enter the number : 8
Your number is less than 10
and Even

In [ ]:
#This is single line comment

In [ ]:
"""
This is multi line comment
"""

## Loops

In [3]:
n = int(input('Max iterations : '))
i = 1
sum = 0
while i<=n:
    print(i)
    sum+=i
    i+=1
print("Sum of numbers from 1 to n : ",sum)
print("Done")

Max iterations : 4
1
2
3
4
Sum of numbers from 1 to n :  10
Done

In [1]:
L=[]
for i in range(10):
    print(i+1)
    L.append(i**2)
print(L)

1
2
3
4
5
6
7
8
9
10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
L=[]
for i in range(2,18,2):
    print(i)
    L.append(i**2)
print(L)

2
4
6
8
10
12
14
16
[4, 16, 36, 64, 100, 144, 196, 256]

In [3]:
S={"niloy",1911077108,"sannyal"}
for x in S:
    print(x)
else:
    print('Loop completes its iterations')

niloy
1911077108
sannyal
Loop completes its iterations

In [4]:
roll = {"5":"Sohan","8":"Niloy","19":"Shakib"}
for x in roll:
    print(x,roll[x])

5 Sohan
8 Niloy
19 Shakib

In [11]:
L=[1,2,4,-5,7,9,3,2]
for j in range (len(L)):
    m=L[j]
    idx=j
    c=j
    for i in range(j,len(L)):
        if L[i]<m:
            m=L[i]
            idx=c
        c+=1
    tmp=L[j]
    L[j]=m
    L[idx]=tmp
print(L)

[-5, 1, 2, 2, 3, 4, 7, 9]

In [14]:
L

[-5, 1, 2, 2, 3, 4, 7, 9]

## Functions

In [12]:
def printSuccess():
    print("The task was succesfull")
    print("Moving to the next task")
    print("Send another task")

In [15]:
printSuccess()

The task was succesfull
Moving to the next task
Send another task

In [16]:
69+96

165

In [17]:
printSuccess()

The task was succesfull
Moving to the next task
Send another task

In [20]:
def printSuccess2():
    """This function is doing nothing except printing a message.
    That message is "Hellow" 
    """
    print("Hellow")

In [26]:
help(printSuccess2)

Help on function printSuccess2 in module __main__:

printSuccess2()
    This function is doing nothing except printing a message.
    That message is "Hellow"

In [28]:
printSuccess2()

Hellow

In [29]:
def printMsg(msg):
    """The function prints the message supplied by the user
    or prints that msg is not in the form of string"""
    if instance(msg,'str'):
        print(msg)
    else:
        print("Your input argument is not a string")
        print("Here is what you have supplied",msg)

In [1]:
variableOutsideTheFunction=3

In [3]:
def g():
    variableOutsideTheFunction=5
    print(variableOutsideTheFunction)

In [4]:
g()

5

In [5]:
print(variableOutsideTheFunction)

3

In [7]:
g()

In [11]:
print(type(g()))

<class 'NoneType'>

In [30]:
def r():
    a=8
    b="Niloy"
    c="Sannyal"
    return a,b,c

In [32]:
x,y,z=r()
print(x,y,z)

8 Niloy Sannyal

In [1]:
def add(*args):
    sum=0
    for i in range(len(args)):
        sum+=args[i]
    return sum

In [2]:
add(3,6,9,11,33)

62

In [3]:
add(3+5)

8

In [4]:
add(4,6.9+3,6,3.33)

23.229999999999997

In [33]:
def printAllVariableNamesAndValues(**args):
    for x in args:
        print("Variable name is :",x,"       And Value is :",args[x])

In [34]:
printAllVariableNamesAndValues(roll=8,firstName="Niloy",lastName="Sannyal")

Variable name is : roll        And Value is : 8
Variable name is : firstName        And Value is : Niloy
Variable name is : lastName        And Value is : Sannyal

In [6]:
def g():
    variableOutsideTheFunction=5
    #no return value

In [26]:
def n():
    print("A")
    a=3
    b=5
    c=a+b
    print("Line before return")
    return c
    print("B")
    print("C")

In [28]:
n()

A
Line before return

8

In [27]:
print(n())

A
Line before return
8

In [29]:
print(type(n()))

A
Line before return
<class 'int'>

## functions(default variables)

In [35]:
def f(sum=0):
    print(sum)

In [36]:
f()

0

In [37]:
f(8)

8

In [2]:
L=[1,2,3]
L2=L
L2[0]=-9
print(L)

[-9, 2, 3]

In [5]:
def ff(L=[1,2]):
    for i in L:
        print(i)

In [6]:
L2=[12,3,4]

In [7]:
ff(L2)

12
3
4

In [8]:
ff()

1
2

## Modules

In [11]:
import sys
sys.path.append('C:/Users/niloy/OneDrive/Desktop/')

In [17]:
import my_module as myNs

In [13]:
myNs.addAllNumerics??

In [14]:
myNs.addAllNumerics(1,2,3,4)

10

In [15]:
from my_module import addAllNumerics

In [16]:
addAllNumerics(6,9,69,96)

180

In [18]:
myNs.myname

'Niloy Sannyal'

## String

In [19]:
s="Python is a good language"
t='Its good for data science'

In [20]:
type(s)

str

In [21]:
print(s)

Python is a good language

In [22]:
type(t)

str

In [23]:
print(t)

Its good for data science

In [26]:
print(s+". "+t)

Python is a good language. Its good for data science

In [30]:
price = 12
s = "The price of this book"
v = s+" is : "+str(price)
print(v)
print(s,"is :",price)

The price of this book is : 12
The price of this book is : 12

## Multi line String

In [31]:
a="""This is line 1
this is line 2
this is the last line and this is line 3"""
print(a)

This is line 1
this is line 2
this is the last line and this is line 3

In [32]:
print("""The following options are available:
            -a     : does nothing
            -b     : also does nothing
""")

The following options are available:
            -a     : does nothing
            -b     : also does nothing

## Indexing and Slicing

In [44]:
s = "How are you and who are you"
print(s[4:11])

are you

In [45]:
s[-3]

'y'

In [46]:
s[-5]

'e'

In [47]:
s[-8]

' '

In [49]:
s[-12:-3]

' who are '

In [50]:
s[0:12:2]

'Hwaeyu'

In [51]:
#s[start:end:step]
s[:12]

'How are you '

In [52]:
s[3:]

' are you and who are you'

In [53]:
s[1:12:]

'ow are you '

In [54]:
s[::-1]

'uoy era ohw dna uoy era woH'

In [1]:
a = "   Niloy Sannyal     "
b = a.strip()
print(b)

Niloy Sannyal

In [2]:
a = "OH mY F**KiNg GoD"
b = a.lower()
print(b)

oh my f**king god

In [3]:
b = a.upper()
print(b)

OH MY F**KING GOD

In [6]:
b = a.replace("*","%%$$##")
print(b)

OH mY F%%$$##%%$$##KiNg GoD

In [7]:
b = a.replace("**","$")
print(b)

OH mY F$KiNg GoD

In [9]:
a = "Oh:my:fucking:God"
b = a.split(":")
print(b)

['Oh', 'my', 'fucking', 'God']

In [15]:
a = "oh my fucking god"
b = a.capitalize()
print(b)

Oh my fucking god

In [18]:
a = "hgiuerhsnsniloydnfkssannyaljknfuih"
print("niloy" in a)

True

In [19]:
print("sannyal" in a)

True

In [20]:
print("niloysannyal" in a)

False

In [21]:
"abc"=="abc"

True

In [22]:
"abc"<"def"

True

In [23]:
"abcdefghi"<"def"

True

In [24]:
print("we are learning "string" here")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1078288962.py, line 1)

In [26]:
print("we are learning \"string\" here")

we are learning "string" here

In [27]:
print("c:\drive\name")

c:\drive
ame

In [28]:
print(r"c:\drive\name")

c:\drive\name

# Data Structures

In [3]:
L = [1,3,4.9,"name",69]
T = (1,2,6.9,"name",8)
S = {1,3,6.9,"name",6.9}
D = {5:"Sohan",8:"Niloy",19:"Shakib"}

In [4]:
print("The type of L is ",type(L))
print("The type of T is ",type(T))
print("The type of S is ",type(S))
print("The type of D is ",type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [5]:
print(L[1])
print(T[1])
print(3 in S)
print(D[8])

3
2
True
Niloy

In [6]:
print(D[19])

Shakib

In [7]:
S

{1, 3, 6.9, 'name'}

In [8]:
L

[1, 3, 4.9, 'name', 69]

In [9]:
L[1:3]

[3, 4.9]

In [10]:
L[::-1]

[69, 'name', 4.9, 3, 1]

In [11]:
T

(1, 2, 6.9, 'name', 8)

In [12]:
T[:3]

(1, 2, 6.9)

In [13]:
L

[1, 3, 4.9, 'name', 69]

In [14]:
L = L + ["how","are",6,9,"position"]

In [15]:
L

[1, 3, 4.9, 'name', 69, 'how', 'are', 6, 9, 'position']

In [16]:
L.append("Great")

In [17]:
L

[1, 3, 4.9, 'name', 69, 'how', 'are', 6, 9, 'position', 'Great']

In [18]:
T2 = ('a','b',45)
T3 = T + T2

In [19]:
T3

(1, 2, 6.9, 'name', 8, 'a', 'b', 45)

In [20]:
S.add(69)

In [21]:
S

{1, 3, 6.9, 69, 'name'}

In [22]:
S.update({96,"Niloy",88})

In [23]:
S

{1, 3, 6.9, 69, 88, 96, 'Niloy', 'name'}

In [24]:
D

{5: 'Sohan', 8: 'Niloy', 19: 'Shakib'}

In [25]:
D['20']="Shihab"

In [26]:
D

{5: 'Sohan', 8: 'Niloy', 19: 'Shakib', '20': 'Shihab'}

In [27]:
D2 = {24:"Saiham"}

In [29]:
D.items()

dict_items([(5, 'Sohan'), (8, 'Niloy'), (19, 'Shakib'), ('20', 'Shihab')])

In [30]:
L

[1, 3, 4.9, 'name', 69, 'how', 'are', 6, 9, 'position', 'Great']

In [31]:
S

{1, 3, 6.9, 69, 88, 96, 'Niloy', 'name'}

In [32]:
D

{5: 'Sohan', 8: 'Niloy', 19: 'Shakib', '20': 'Shihab'}

In [34]:
D2 = {'A':L,'B':T,'C':S,'D':D}

In [38]:
D2['A']

[1, 3, 4.9, 'name', 69, 'how', 'are', 6, 9, 'position', 'Great']

In [37]:
D2['A'][3]

'name'

In [39]:
K = D2['D']

In [40]:
K

{5: 'Sohan', 8: 'Niloy', 19: 'Shakib', '20': 'Shihab'}

In [41]:
for x in K:
    print(x,K[x])

5 Sohan
8 Niloy
19 Shakib
20 Shihab

In [42]:
L3 = [L,T,D,23,"game"]

In [43]:
type(L3[2])

dict

In [44]:
type(L3[1])

tuple

In [45]:
L3 = [x**2 for x in range(10)]

In [46]:
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
S3 = {x**2 for x in range(3,33,3)}

In [49]:
S3

{9, 36, 81, 144, 225, 324, 441, 576, 729, 900}

In [3]:
"""Let say you are a teacher and you have different student
records containing id of a student and the mark list in each subject
were diffenrent students have taken different number of subjects. All
these records are in hard copy. You want to enter all the data in computer
and want to compute the average marks of each student and display"""

def getDataFromUser():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma separated values: ")
        moreStudents = input('Enter "no" to quit insertion: ')
        if studentId in D:
            print(studentId, "is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [4]:
studentData = getDataFromUser()

Enter student ID: 5
Enter the marks by comma separated values: 82,88,91
Enter "no" to quit insertion: asd
Enter student ID: 8
Enter the marks by comma separated values: 83,87,89,95,79
Enter "no" to quit insertion: asd
Enter student ID: 19
Enter the marks by comma separated values: 85,88,96,79
Enter "no" to quit insertion: asd
Enter student ID: 20
Enter the marks by comma separated values: 91,89,93,96
Enter "no" to quit insertion: SA
Enter student ID: 24
Enter the marks by comma separated values: 94,96,92,89
Enter "no" to quit insertion: no

In [5]:
studentData

{'5': ['82', '88', '91'],
 '8': ['83', '87', '89', '95', '79'],
 '19': ['85', '88', '96', '79'],
 '20': ['91', '89', '93', '96'],
 '24': ['94', '96', '92', '89']}

In [15]:
def getAvgMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [16]:
avgM = getAvgMarks(studentData)

In [17]:
for x in avgM:
    print("student :",x,"got avg Marks as: ",avgM[x])

student : 5 got avg Marks as:  87.0
student : 8 got avg Marks as:  86.6
student : 19 got avg Marks as:  87.0
student : 20 got avg Marks as:  92.25
student : 24 got avg Marks as:  92.75